*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.34;
    font-weight: 600;
    color: #1c1e21;
    background-color: #f0f2f5;
}


.login{
    display:flex;
    justify-content: space-between;
    padding-left: 4rem;
    /* min-height: 97rem; */
    min-height: calc(100vh - 7rem);
}

.logo-box{
    padding: 1.2rem;
    width: 7.2rem;
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{
    height: 6rem;
}

/* calc(100vh - 70px) */
.login-logo-box{
    padding: 4rem 0 15rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-text-box{
    max-width: 32rem;
}

.login-heading-primary{
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.2;
}

.login-img-box{
    max-width: 95rem;
}

.login-img{ 
    width: 100%;
    /* margin-left: -26%; */
}

.login-form{
    display: flex;
    align-items: center;
    padding: 0 5.2rem;
}

.login-form-box{
    width: 54.6rem;
}

.login-form-content{

}

.login-heading-primary-sp{
    color: #1877F2;
}

.login-text{
    font-size: 1.7rem;
}